<div class="page-header">
  <h1>
    <% if @user.present? %>
      <%= params[:action] == "followers" ? "#{@user.full_name}'s followers" : "#{@user.full_name}'s followings" %>
    <% else %>
      Users List
    <% end %>
    </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, show_user_path(user.user_name) %></td>
        <td>
          <% if @user.present? %>
            <% if @user.followers.exists?(:friend_id => user.id) %>
              <%= link_to "UnFollow", followers_destroy_path(user.id), :class => 'btn btn-mini btn-danger', :Style => "color:#fff", :method=> :delete %>
            <% elsif  %>
              <%= link_to "Follow", followers_create_path(user.id), :class => 'btn btn-mini btn-primary', :Style => "color:#fff", :method=> :post %>
            <% end %>
          <% else %>
            <%= link_to "Follow", followers_create_path(user.id), :class => 'btn btn-mini btn-primary', :Style => "color:#fff", :method=> :post %>
          <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
